:root{
    /*bg colors*/
    --bg-primary:rgb(17, 17, 17);
    --bg-secoundary:rgb(34, 34, 34);
    --bg-active:rgb(233, 233, 233);
    --bg-error:rgb(200, 50, 50);
    --bg-success: rgb(50, 200, 50);

    /*yexy color*/
    --text-primary:rgb(237, 237, 237);
    --text-secoundary:rgb(200, 200, 200);
    --text-tertiary:rgb(150, 150, 150);
    --text-active:rgb(24, 24, 24);
    
    /*paddings*/
    --padding-sm:0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;
    --padding-xl:2rem;
    --padding-2xl: 3rem;

     /*mardin*/

     --margin-s:0.5;
     --margin-m:1rem;
     --margin-l:1.5rem;
     --margin-xl:2rem;
     --margin-2xl:3rem;

    /*gutter*/

    --gutter-s:0.5rem;
    --gutter-m:1rem;
    --gutter-l:1.5rem;
    --gutter-xl:2rem;
    --gutter-2xl:3rem;

    /*font sizes*/
    --font-s: 0.875;
    --font-m:1rem;
    --font-l:1.125rem;
    --font-xl:2rem;
    --font-2xl:3rem;

    /*border radius*/

    --border-s:0.2rem;
    --border-m:0.25rem;
    --border-l: 0.3rem;
    --border-xl:0.4rem;
    --border-2xl:0.5rem;

    
}